.myblue {
	background-color:#8EEBE3
}



.myred {
    background-color:#B9FAFF
}

.myheader {
	background-image: url("../images/header_bg.jpg");
	height:200px;
	background-size: cover;
	
}

.myboxsize {
	height: 600px;
	
}
.mybanner {
	background-image:url("../images/goats-banner-1920x500px.jpg")
}

body {
	background-image:url("../images/background 2.jpg")
}

.images {
	background-color: #A8F0E4
}


